$light-bg:#aeccec;
$dark-bg:#316cac;
$btn-text:#fff;
$news-card-bg:aliceblue;



.navbar a{
    color:$dark-bg;
}

.my-btn{
    border-radius: 30px;
    background-color: #36f;
    color: $btn-text;
    &:hover{
        color: $btn-text !important;
    }
}


.news-container{
    background-color: $light-bg;
    gap: 20px;
    flex-wrap:wrap;
    .card-header,.card-body,.card-footer,.card{
        background-color: $news-card-bg;
    }
    .card-header{
        border-bottom: 0;
    }
    .card-footer{
        border-top: 0;
    }
    .card{
        border-radius: 8px;
        width: 20rem;
    }
    img{
        width: 100% ;
    }
}

.img-list{
    img{
        width: 150px;
    }
}

.news-form{
.cancel-row{
    justify-content: flex-end;
    #modify-btn-cancel{
        cursor: pointer;
        padding: 10px;
    }

}
#cke_content{
    margin-top: 2rem;
    
}
    img{
        width: 5%;
        cursor: pointer;
    }
}

.one-news-container{
padding-top: 10px ;
background-color: $light-bg;
border-radius: 10px;
margin: 3rem auto;
img{
    width: 100%;
}
    .news-content-wrapper{

        font: 1.3em sans-serif;
        padding: 3px 10px;
        border-radius: 4px;
        text-align: justify;
    }
}
.list-news-container{
    .list-group-item{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}