#main-mav {
  background-color: #aeccec;
  margin-bottom: 2rem;
}
#main-mav a {
  color: #316cac;
}
#main-mav ul.navbar-nav {
  width: 100%;
  justify-content: space-between;
}
#main-mav ul.navbar-nav li.nav-item {
  display: block;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.my-btn {
  border-radius: 30px;
  background-color: #36f;
  color: #fff;
}
.my-btn:hover {
  color: #fff !important;
}

.news-container, .authors-news-container {
  background-color: #aeccec;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 4px;
}
.news-container .card-header,
.news-container .card-body,
.news-container .card-footer,
.news-container .card, .authors-news-container .card-header,
.authors-news-container .card-body,
.authors-news-container .card-footer,
.authors-news-container .card {
  background-color: aliceblue;
}
.news-container .card-header, .authors-news-container .card-header {
  border-bottom: 0;
  font-weight: bold;
}
.news-container .card-footer, .authors-news-container .card-footer {
  border-top: 0;
}
.news-container .card, .authors-news-container .card {
  border-radius: 8px;
  width: 20rem;
}
.news-container .card img, .authors-news-container .card img {
  border-radius: 7px 7px 0 0;
}
.news-container img, .authors-news-container img {
  width: 100%;
}

.img-list img {
  width: 150px;
}

.news-form .cancel-row {
  justify-content: flex-end;
}
.news-form .cancel-row #modify-btn-cancel {
  cursor: pointer;
  padding: 10px;
}
.news-form #cke_content {
  margin-top: 2rem;
}
.news-form img {
  width: 5%;
  cursor: pointer;
}

.one-news-container {
  padding-top: 10px;
  background-color: #aeccec;
  border-radius: 10px;
  margin: 3rem auto;
}
.one-news-container img {
  width: 100%;
}
.one-news-container .news-content-wrapper {
  font: 1.3em sans-serif;
  padding: 3px 10px;
  border-radius: 4px;
  text-align: justify;
}
.one-news-container .news-content-wrapper p.news-lead {
  margin-top: 2rem;
}
.one-news-container .news-content-wrapper .kw {
  background-color: #e7e7e7;
  padding: 4px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  display: inline-block;
  font-size: 11px;
}

.list-news-container ul {
  margin-top: 2rem;
}
.list-news-container .list-group-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.list-news-container .list-group-item:nth-child(odd) {
  background-color: #aeccec;
}
.list-news-container .list-group-item:nth-child(odd) a {
  color: white;
}

.e404 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30rem;
  color: darkorange;
}

.paginator sub {
  bottom: -1rem;
  margin: auto 0.8rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login-form {
  padding: 20px;
}

#register-link {
  margin-top: -65px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

/*# sourceMappingURL=index.css.map */
