$light-bg:#c1c1c1;

.news-container{
    background-color: $light-bg;
    img{
        width: 100% ;
    }
}

.news-form{

    img{
        width: 5%;
        cursor: pointer;
    }
}

.one-news-container{

    .news-content-wrapper{

        background-color: whitesmoke;
        font: 1.3em sans-serif;
        padding: 3px 10px;
        border-radius: 4px;
        text-align: justify;
    }
}