$light-bg:#adc5df;


.my-btn{
    border-radius: 30px;
    background-color: #36f;
    color: #fff;
    &:hover{
        color: #fff !important;
    }
}


.news-container{
    background-color: $light-bg;
    .card-header,.card-body,.card-footer{
        background-color: aliceblue;
    }
    img{
        width: 100% ;
    }
}

.news-form{

    img{
        width: 5%;
        cursor: pointer;
    }
}

.one-news-container{

    .news-content-wrapper{

        background-color: whitesmoke;
        font: 1.3em sans-serif;
        padding: 3px 10px;
        border-radius: 4px;
        text-align: justify;
    }
}